{% extends 'ShopCatalogBundle:AdminCategory:breadcrumb/categoryBreadcrumb.html.twig' %}
{% block breadcrumb_items %}
    {{ parent() }}
    <li>
        <a href="{{ path('proposals', {'categoryId' : category.id}) }}">
            Товары
        </a>
    </li>
{% endblock %}