{% extends 'ShopCatalogBundle:AdminProposal:breadcrumb/proposalBreadcrumb.html.twig' %}
{% block breadcrumb_items %}
    {{ parent() }}
    <li class="medium btn default">
        <a href="{{ path('proposal_images', {'id' : proposal.id}) }}">
            Фотографии
        </a>
    </li>
{% endblock %}