{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% block page_container %}

    <div class="row well-v">

        <h1>
            Заказ успешно оформлен
        </h1>

    </div>

{% endblock %}
