{% extends "::base.html.twig" %}
{% block title %}Система управления сайтом{% endblock %}
{% block body %}
    <div class="admin-container">
        {{ include("ShopAdminBundle:Default:header.html.twig") }}
        {% block content %}
            <div class="row">
                {% block main_container %}
                    {{ form(form) }}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <script type="text/javascript" src="/js/autosize-master/jquery.autosize.min.js"></script>

    <script src="/js/maxlength/jquery.maxlength.min.js"></script>
    <link href="/js/maxlength/jquery.maxlength.css" type="text/css" rel="stylesheet">

    <script>
        $(function(){

            $('textarea').autosize();

            $.maxlength.setDefaults({
                feedbackText : 'Осталось символов {r} ({m} максимальное кол-во)',
                overflowText : '{o} - слишком большое кол-во символов ({m} максимальное кол-во)'
            });

            $('.maxlength').each(function(){
                $(this).maxlength($(this).data());
            });

        });
    </script>

{% endblock %}
