<div class="breadcrumb">
    <ul>
        {% block breadcrumb_items %}
            <li class="medium btn default">
                <a href="{{ path('categories') }}">
                    Каталог
                </a>
            </li>
            <li class="medium btn default">
                <a href="{{ path('price_lists') }}">
                    Прайс-листы
                </a>
            </li>
        {% endblock %}
    </ul>
</div>
