<div>
    <ul class="breadcrumb">
        {% block breadcrumb_items %}
            <li>
                <a href="{{ path('admin_catalog_categories') }}">
                    Каталог
                </a>
            </li>
            <li>
                <a href="{{ path('admin_catalog_price_lists') }}">
                    Прайс-листы
                </a>
            </li>
        {% endblock %}
    </ul>
</div>
