{% extends 'ShopCatalogBundle:AdminPriceList:breadcrumb/priceListsBreadcrumb.html.twig' %}
{% block breadcrumb_items %}
    {{ parent() }}
    {% if priceList is defined %}
        <li>
            <a href="{{ path('admin_catalog_price_list', {'id' : priceList.id}) }}">
                {{ priceList.name|default(title) }}
            </a>
        </li>
    {% endif %}
{% endblock %}