{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Телефоны{% endblock %}

{% block main_container %}
    <div class="medium primary btn">
        <a href="{{ path('shop_admin_phone') }}">
            Добавить телефон
        </a>
    </div>
    {% if phones %}
        <table style="margin: 10px 0">
            <tbody>
            {% for phone in phones %}
                <tr>
                    <td>{{ phone }}</td>
                    <td>
                        <div class="medium btn default" style="width: 100%">
                            <a href="{{ path('shop_admin_phone', {'id' : phone.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger" style="width: 100%">
                            <a href="{{ path('shop_admin_delete_phone', {'id' : phone.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
