{% extends "ShopAdminBundle::layout.html.twig" %}

{% block title %}Контакты{% endblock %}

{% block page_container %}
    <div style="margin-bottom: 10px">
        <div class="medium default btn icon-left entypo icon-location">
            <a href="{{ path('shop_admin_addresses') }}">
                Адреса
            </a>
        </div>
    </div>
    {{ form(form) }}
{% endblock %}
