{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Система управления сайтом{% endblock %}

{% block body %}

    <div class="admin-container">

        {{ include("ShopMainBundle:Admin:header.html.twig") }}

        <div class="row">

            <div class="login-form-container centered four columns">

                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <label for="username">ЛОГИН</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">ПАРОЛЬ</label>
                    <input type="password" id="password" name="_password" />

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button type="submit" style="width: 100%">ВОЙТИ</button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}


