{% block weasty_money_price_widget %}
    <div class="form-element-weasty-price">
        <div class="weasty-price-value-element" style="width:300px; float: left;">
            {{ form_row(form.value) }}
        </div>
        <div class="weasty-price-currency-element" style="float: left; margin-left: 7px">
            {{ form_row(form.currency) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}