{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Пользователи{% endblock %}

{% block right_bar %}

    <div id="usersTabs">

        {% if groups %}
            <ul class="groupsList">
                {% for group in groups %}
                    {% set group_route = 'admin_' ~ group.route_prefix %}
                    {% set is_current_group = currentGroup.id == group.id or (not currentGroup and group.slug == constant('SLUG_USERS', group)) %}
                    <li class="{{ is_current_group ? 'active' : '' }}">
                        <a href="{{ is_current_group ? '#group' ~ currentGroup.id : path(group_route, { 'group_id': group.id, 'ajax_tab' : true }) }}">
                            {{ group.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% include usersContainerTemplateName|default("ShopUserBundle:AdminUser:usersContainer.html.twig") %}

    </div>

    <script>
        $(function() {

            var $usersTabs = $( "#usersTabs" );
            $usersTabs.tabs({
                active: $usersTabs.find('.groupsList').find('li.active').index(),
                beforeLoad: function( event, ui ) {
                    ui.jqXHR.error(function() {
                        ui.panel.html("Ошибка при загрузки пользователей");
                    });
                }
            });
        });
    </script>

{% endblock %}
