<div>
    <ul class="breadcrumb">
        {% block breadcrumb_items %}
            <li>
                <a href="{{ path('admin_catalog_categories') }}">
                    Каталог
                </a>
            </li>
            <li>
                <a href="{{ path('category', {'id' : category.id}) }}">
                    {{ category.name|default((title is defined ? title : null))|capitalize }}
                </a>
            </li>
        {% endblock %}
    </ul>
</div>
