<a href="{{ path('proposals', {'categoryId' : category.id}) }}" class="btn btn-default">
    Товары
</a>
<a href="{{ path('category_parameters', {'categoryId' : category.id}) }}" class="btn btn-default">
    Параметры
</a>
