<h1 class="title">
    Все категории
</h1>
<ul class="left-bar-menu">
    {% for _category in categories %}
        <li>
            <div class="btn default medium {{ _category.id == category.id ? 'active' : '' }}">
                <a href="{{ path('shop_catalog_category', {'slug' : _category.slug}) }}">
                    {{ _category.name }}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
