{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block page_content %}

    <div class="large btn primary" style="margin-bottom: 20px">
        <a href="{{ path('download_price_list', {'id' : priceList.id}) }}">
            Скачать прайс-лист
        </a>
    </div>

    <div style="overflow: auto; height: 500px;">
        {{ priceListSheetData|raw }}
    </div>

{% endblock %}
