{% extends "ShopAdminBundle::layout.html.twig" %}
{#{% block title %}{{ ('Просмотр - ' ~ priceList.name)|default(title) }}{% endblock %}#}

{% block page_breadcrumb %}
    {{ include('ShopCatalogBundle:AdminPriceList:breadcrumb/priceListBreadcrumb.html.twig') }}
{% endblock %}

{% block page_content %}

    <div class="page-menu">
        <a href="{{ path('admin_catalog_price_list_download', {'id' : priceList.id}) }}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-download"></span> Скачать прайс-лист
        </a>
    </div>

    <div style="overflow: auto; height: 500px;">
        {{ priceListSheetData|raw }}
    </div>

{% endblock %}
