.features-table {

  border: none;
  margin-bottom: 0;

  tr, td, th {
    border: none;
  }

  .best {

    font-weight: bold;
    background-color: rgb(255,243,67);

    &:after {

      content: ' ';
      display: block;
      position: absolute;
      height: 100%;
      width: 20px;
      right: 0;
      top: 0;

    }

  }

  .odd {

    background-color: rgb(255,253,214);

    .best:after {
      background-color: rgb(255,253,214);
    }

  }

  .even {

    background-color: rgb(255,255,255);

    .best:after {
      background-color: rgb(255,255,255);
    }

  }

  .feature-group-title {

    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 20px 20px 0;

  }

  .feature-info {
    font-weight: bold;
  }

  .feature-value-cell {

    position: relative;
    padding: 0 20px 0 0;

    &.last {

      padding-right: 0;

      &.best:after {
        display: none;
      }

    }

    .feature-value {

      position: relative;
      text-align: center;
      padding: 10px;

    }

  }

}
