@import "settings";
@import "lebedev-base";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@import "bootstrap";
@import "chosen";

body {

  img {
    vertical-align: middle;
  }

  li {
    padding-bottom: 0;
  }

  label {
    font-weight: normal;
  }

  h1, h2, h3, h4, h5, h6 {

    .btn {
      margin-left: 5px;
    }

  }

  a {

    color: $body-font-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $body-link-hover-color;
    }

  }

  @import "../../ui/buttons";

  .clickable-block {

    &:hover {

      a {

        text-decoration: underline;
        color: $body-link-hover-color;

      }

    }

  }

  .primary-link, a.primary-link {

    cursor: pointer;
    text-decoration: underline;
    color: rgb(198, 0, 42);

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }

    &.active {

      text-decoration: none;
      &, &:hover, &:focus {
        color: rgb(198, 0, 42);
        text-decoration: none;
      }

    }

  }

  .nav-tabs {

    &>li {

      &>a {
        @extend .primary-link;
        text-decoration: none;
      }

      &.active {

        &>a {

          @extend .primary-link.active;

        }

      }

    }

  }

  /* @group Content */

  .fht-table-wrapper,
  .fht-table-wrapper .fht-thead,
  .fht-table-wrapper .fht-tfoot,
  .fht-table-wrapper .fht-fixed-column .fht-tbody,
  .fht-table-wrapper .fht-fixed-body .fht-tbody,
  .fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: hidden;

    /* position */
    position: relative;
  }

  .fht-table-wrapper .fht-fixed-body .fht-tbody,
  .fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow-x: scroll;
  }

  .fht-table-wrapper .fht-table .fht-cell {
    /* appearance */
    overflow: hidden;

    /* size */
    height: 1px;
  }

  .fht-table-wrapper .fht-fixed-column,
  .fht-table-wrapper .fht-fixed-body {
    /* position */
    top: 0;
    left: 0;
    position: absolute;
  }

  .fht-table-wrapper .fht-fixed-column {
    /* position */
    z-index: 1;
  }

  .amount-badge {

    display: inline-block;
    background: rgb(255,243,67);
    padding: 1px 7px;
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0,0,0);
    text-align: center;

  }

  .amount-spinner {

    overflow: hidden;
    display: block;
    height: 25px;
    width: 85px;

    .amount {

      float: left;
      display: block;
      width: 35px;
      text-align: center;
      line-height: 25px;
      height: 25px;
      border-top: 1px solid rgb(202,202,202);
      border-bottom: 1px solid rgb(202,202,202);

    }

    .minus, .plus {

      position: relative;
      float: left;
      display: block;
      text-align: center;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      @include background-image(linear-gradient(rgb(255, 114, 0), rgb(255, 48, 0)));

      &:after {

        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 25px;
        height: 25px;
        background: url("/img/weasty-sprite.png") no-repeat;

      }

    }

    .minus {

      @include border-radius(2px 0 0 2px);

      &:after {
        background-position: -194px -171px;
      }

    }

    .plus {

      @include border-radius(0 2px 2px 0);

      &:after {
        background-position: -237px -171px;
      }

    }

  }

  .ui-buttons {

    display: block;
    margin: 0 auto;
    @extend .clearfix;

    div.btn {

      white-space: normal;
      position: relative;
      float: left;
      margin-left: 20px;
      border: none;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      @include border-radius(2px);
      @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.7));

      a {
        padding: 0 7px;
        text-align: center;
      }

      &:first-child {
        margin-left: 0 !important;
      }

      &.active {
        @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.7) inset);
      }

      &.primary {

        @include background-image(linear-gradient(rgb(255, 114, 0), rgb(255, 48, 0)));

        &.active {
          @include background-image(linear-gradient(rgb(255, 48, 0), rgb(255, 114, 0)));
        }

        a, a:hover {
          color: #ffffff;
          text-shadow: 1.414px 1.414px 0px black;
        }

      }

      &.secondary {

        @include background-image(linear-gradient(rgb(255, 246, 0), rgb(255, 204, 0)));

        &.active {
          @include background-image(linear-gradient(rgb(255, 204, 0), rgb(255, 246, 0)));
        }

        a, a:hover {
          color: #000000;
        }

      }

      &.disabled {
        @include box-shadow(none);
        &:after {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgb(255,255,255);
          @include opacity(0.5);
        }
      }

    }
  }

  .slider-nav-button {
    border-radius: 4px;
    background-color: rgb( 255, 252, 0 );
    box-shadow: 1.414px 1.414px 0px 0px rgb( 0, 0, 0 );
    width: 40px;
    height: 40px;
  }

  .ui-widget-overlay {
    background: rgb(0, 0, 0);
    @include opacity(.7);
  }

  .ui-dialog {

    padding: 0;
    border: 1px solid rgb(202,202,202);
    @include border-radius(5px);
    @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 5px, 0);

    .ui-dialog-titlebar {

      border: none;
      border-bottom: 1px solid rgb(202,202,202);
      background: none;
      padding: 15px 20px;
      @include border-radius(5px 5px 0 0);

      .ui-dialog-title {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: rgb(0,0,0);
        margin: 0;
      }

      .ui-dialog-titlebar-close {
        cursor: pointer;
        display: block;
        border: none;
        padding: 0;
        outline: none;
        right: 20px;
        background: url("/img/weasty-sprite.png") no-repeat -138px -5px;
      }

    }

    .ui-dialog-content {
      padding: 20px;
    }

  }

  .ui-popup-container {

    width: $document-width;

    .ui-popup-content {

      padding: 0 20px;
      margin: 0;

    }

    .ui-buttons {

      padding: 20px 0px;
      text-align: center;

      .btn {
        width: 200px;
        display: inline-block;
        float: none;
      }

    }

  }

  .ui-popup {

    .ui-popup-container {
      padding: 0;
      color: $body-font-color;
    }

  }

  .ui-slider {

    cursor: pointer;
    border: none;

    .ui-slider-handle {

      cursor: move;
      outline: none;
      border: none;
      display: block;
      width: 15px;
      height: 15px;
      background: url("/img/weasty-sprite.png") no-repeat -17px -86px;

    }

    &.ui-slider-horizontal {

      height: 6px;
      @include background-image(linear-gradient(rgb(160,160,160), rgb(211,211,211)));
      @include box-shadow(rgba(0, 0, 0, 0.5) 0px 1px 2px 0px inset);

      .ui-slider-range {
        @include background-image(linear-gradient(rgb(255,204,0), rgb(255,246,0)));
        @include box-shadow(rgba(0, 0, 0, 0.5) 0px 1px 1px 0px);
      }

      .ui-slider-handle {

        top: -5px;
        margin-left: -7px;

        //&:first-of-type {
        //  margin-left: 0;
        //}

      }

    }

  }

  .owl-carousel {

    .owl-buttons {

      .owl-prev, .owl-next {

        text-indent: -99999px;
        cursor: pointer;
        position: absolute;
        display: block;
        width: 60px;
        height: 100%;
        top: 0;

        &:after {
          @include border-radius(3px);
          @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.7));
          background: url("/img/weasty-sprite.png") no-repeat rgb(255, 243, 67);
          position: absolute;
          top: 50%;
          content: ' ';
          display: block;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: 10px;
          color: white;
        }

        &.disabled {

          cursor: default;
          &:after {
            @include box-shadow(none);
            background-color: transparent;
            border: 1px solid rgb(202, 202, 202);
          }

        }

      }

      .owl-prev {

        left: -62px;

        &:after {
          background-position: -503px -12px;
        }

        &.disabled {

          &:after {
            background-position: -324px -13px;;
          }

        }

      }

      .owl-next {

        right: -62px;

        &:after {
          background-position: -553px -12px;
        }

        &.disabled {

          &:after {
            background-position: -374px -13px;
          }

        }

      }

    }

    &.valigin-controls {

      .owl-buttons {

        .owl-prev {

          margin-top: -45px;
          bottom: auto;
          top: 50%;
          background-position: -491px -428px;

        }

        .owl-next {

          margin-top: -45px;
          bottom: auto;
          top: 50%;
          background-position: -530px -428px;

        }

      }

    }

  }

  .large-title {

    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 7px;
    text-transform: uppercase;

  }

  @import "features-table";
  @import "proposals-table";
  @import "shop-cart";
  @import "comparison";

  .template-lededev {

    color: $body-font-color;

    @import "common";
    @import "media-items";
    @import "proposals-list";
    @import "manufacturers-block";
    @import "actions-block";
    @import "benefits-block";
    @import "news-block";
    @import "contacts-block";
    @import "categories-block";
    @import "category";
    @import "proposal";

    .header-container {

      @include header-container();

      .header {
        position: relative;
      }

      .header-logo {

        float: left;

        .image-wrapper {

          height: $header-image-height;

          img {
            height: 100%;
            max-height: 100%;
          }

        }

      }

      .header-inner {

        float: right;

      }

      .header-menu {

        @include header-menu();

      }

    }

    .main-container {
      padding-top: $header-container-height;

      & > .loading.block {
        position: fixed;
      }

    }

    .block-container {

      @include block-container();

      .block-title {
        max-width: $row-max-width;
        margin: 0 auto;
        @include block-title;
      }

      .block-breadcrumb {

        max-width: $row-max-width;
        margin: 15px auto 0;

        nav {

          text-align: center;

          a {

            @extend .primary-link;

            position: relative;
            margin-right: 20px;

            &:after {
              content: '>';
              color: rgb(126,126,126);
              font-size: 10px;
              line-height: 18px;
              position: absolute;
              top: 0;
              right: -15px;
              display: block;
            }

            &:last-child {

              margin-right: 0;

              &, &:hover {
                cursor: default;
                color: rgb(126,126,126);
                text-decoration: none;
              }

              &:after {
                display: none;
              }

            }

          }

        }

      }

      .block-title-container {

        display: block;
        overflow: hidden;
        max-width: $row-max-width;
        margin: 0 auto;
        text-align: center;

        .block-title {

          position: relative;
          display: inline;
          padding-left: 45px;
          padding-right: 45px;

          &:before, &:after {

            content: " ";
            position: absolute;
            display: block;
            top: 50%;
            margin-top: -1px;
            height: 1px;
            width: $row-max-width;
            background: rgb(220,220,220);

          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }

        }

      }

      .block-description {
        max-width: $row-max-width;
        font-size: 16px;
        text-align: center;
        margin: 15px auto 0;
      }

      .block-body {
        margin-top: 30px;
      }

      &.invert-colors {

        color: rgb(255,255,255);

        .block-title {
          color: rgb(255,255,255);
          text-shadow: 1px 2px #2E2D2D;

          &:before, &:after {

            background: rgb(255,255,255);

          }

        }

      }

    }

    .range-slider-container {

      .range-slider-fields {

        @extend .clearfix;

        margin-bottom: 4px;

        label {
          float: left;
          font-size: 12px;
          line-height: 20px;
          width: 20%;
        }

        input {
          padding: 0 4px;
          float: left;
          display: block;
          width: 80%;
          font-size: 12px;
        }

        .field-container {

          float: left;
          width: 48%;

          &.min {
            margin-right: 4%;
          }

        }

      }

    }

  }

}