@import "../../var/settings";
@import "lebedev-shop-scss/lebedev";

body {

  .template-lededev {

    color: $body-font-color;

    @import "common";
    @import "media-list";
    @import "proposals-list";
    @import "manufacturers-block";
    @import "actions-block";
    @import "benefits-block";
    @import "news-block";
    @import "contacts-block";
    @import "categories-block";
    @import "category";

    .header-container {

      @include header-container();

      .header-logo {

        float: left;

        .image-wrapper {

          height: $header-image-height;

          img {
            height: 100%;
            max-height: 100%;
          }

        }

      }

      .header-inner {

        float: right;

      }

      .header-menu {

        @include header-menu();

      }

    }

    .main-container {
      padding-top: $header-container-height;
    }

    .block-container {

      @include block-container();

      .block-title {
        max-width: $row-max-width;
        margin: 0 auto;
        @include block-title;
      }

      .block-title-container {

        display: block;
        overflow: hidden;
        max-width: $row-max-width;
        margin: 0 auto;
        text-align: center;

        .block-title {

          position: relative;
          display: inline;
          padding-left: 45px;
          padding-right: 45px;

          &:before, &:after {

            content: " ";
            position: absolute;
            display: block;
            top: 50%;
            margin-top: -1px;
            height: 1px;
            width: $row-max-width;
            background: rgb(220,220,220);

          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }

        }

      }

      .block-description {
        max-width: $row-max-width;
        font-size: 16px;
        text-align: center;
        margin: 15px auto 0;
      }

      .block-body {
        margin-top: 30px;
      }

      &.invert-colors {

        color: rgb(255,255,255);

        .block-title {
          color: rgb(255,255,255);
          text-shadow: 1px 2px #2E2D2D;

          &:before, &:after {

            background: rgb(255,255,255);

          }

        }

      }

    }

    $proposals-block-tab-content-height: 320px;
    .proposals-block {

      text-align: center;

      .tab-content {
        height: $proposals-block-tab-content-height;
      }

      .block-body {
        margin-top: 20px;
      }

    }

    .range-slider-container {

      .range-slider-fields {

        @extend .clearfix;

        label {
          float: left;
          font-size: 12px;
          line-height: 20px;
          width: 20%;
        }

        input {
          padding: 0 4px;
          float: left;
          display: block;
          width: 80%;
          font-size: 12px;
        }

        .field-container {

          float: left;
          width: 48%;

          &.min {
            margin-right: 4%;
          }

        }

      }

    }

  }

}