@import "../../var/settings";

$manufacturer-width: $row-max-width / 4;
$manufacturer-image-width: 220px;
$manufacturer-image-height: 220px;

.manufacturers-list {

  .manufacturer {

    float: left;
    width: $manufacturer-width;

    .image-container {

      display: block;
      margin: 0 auto;
      height: $manufacturer-image-height;
      width: $manufacturer-image-width;

      img {

        max-height: $manufacturer-image-height;
        max-width: $manufacturer-image-width;

      }

      .nailthumb-title {
        display: none;
      }

    }

  }

}