@import "settings";

.media-item {

  position: relative;
  display: block;

  .preview-container {

    position: absolute;
    right: -$preview-container-padding-h-l;
    top: -$preview-container-padding-v-t;

    max-width: $preview-container-max-width;
    padding: $preview-container-padding-v-t $preview-container-padding-h-r $preview-container-padding-v-b $preview-container-padding-h-l;

    .preview-right-bar {

      position: relative;

    }

    .hidden-preview {
      display: none;
    }

  }

  &:hover {

    .preview-container {

      right: -21px;
      top: -21px;
      display: block;
      z-index: 10;
      background: white;
      border: 1px solid rgb( 202, 202, 202 );
      @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 5px, 0);

      &.visible-left-bar {

        padding-left: ($preview-container-left-bar-width + ($preview-container-padding-h-l/2));

        .preview-left-bar {

          display: block;

        }

      }

      .inner-container {

        z-index: 4;

        .media-item-body {

          margin-bottom: 15px;

        }

      }

    }

    .hidden-preview {
      display: block;
    }

  }

}

.media-list {

  margin: 10px 0;

  .owl-item {

    & > .columns {
      width: 100%;
      float: none;
    }

    & > .media-list-item {
      margin-bottom: 0;
    }

  }

  .media-list-item {

    @extend .media-item;

    margin-bottom: 10px;

    &.header-item {

      margin-bottom: 20px;

    }

    &.first-in-row {
      clear: both;
    }

    &.last-in-row {
      margin-right: 0;
    }

    .inner-container {
      padding: 0 7px;
      overflow: hidden;
    }

    .image-container {

      text-align: left;
      margin-bottom: 7px;

    }

    .media-item-body {

      text-align: justify;

      .title {

        font-size: 20px;
        margin-bottom: 7px;

      }

      .description {
        margin-bottom: 7px;
      }

      .date {
        font-weight: bold;
      }

    }

    &.clickable-block {

      .title {
        a {
          color: #000000;
        }
      }

      &:hover {

        .title, .title a, .description {

          color: $body-link-hover-color;
          //text-decoration: underline;

        }

      }

    }

  }

}
