@import "../../var/settings";

.media-list {

  margin: 10px 0;

  .owl-item {

    & > .columns {
      width: 100%;
      float: none;
    }

    & > .media-list-item {
      margin-bottom: 0;
    }

  }

  .media-list-item {

    margin-bottom: 10px;

    .inner-container {
      padding: 0 7px;
      overflow: hidden;
    }

    .image-container {

      text-align: left;
      margin-bottom: 7px;

    }

    .media-list-item-body {

      text-align: justify;

      .title {

        font-size: 20px;
        margin-bottom: 7px;

      }

      .description {
        margin-bottom: 7px;
      }

      .date {
        font-weight: bold;
      }

    }

    &.clickable-block {

      .title {
        a {
          color: #000000;
        }
      }

      &:hover {

        .title, .title a, .description {

          color: $body-link-hover-color;
          //text-decoration: underline;

        }

      }

    }

  }

}
