@import "settings";
@import "lebedev-base";

.images-preview {

  display: block;
  width: 52px;

  .images-preview-container {
    margin-bottom: 0;
  }

  .image-preview-container {

    float: left;
    width: 52px;
    height: 52px;

    display: block;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    margin: 0 0 10px 0;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      border: 1px solid rgb(202, 202, 202);
      width: 50px;
      height: 50px;
    }

    &:hover, &.active {

      border-color: $body-link-hover-color;

      img {
        border-color: $body-link-hover-color;
      }

    }

  }

}

.proposals-list, .proposals-list-wrapper .media-list {

  .proposal, .media-list-item {

    background: white;
    text-align: center;

    .inner-container {
      height: 100%;
      padding: 0 5px 20px;
      color: #000000;
      display: block;
      position: relative;
      z-index: 2;
    }

    .image-container {

      margin: 10px auto;
      overflow: hidden;
      display: block;
      border: $proposals-list-item-image-container-border-width solid rgb( 202, 202, 202 );
      background-color: rgb( 255, 255, 255 );
      width: $proposals-list-item-image-container-width;
      height: $proposals-list-item-image-container-height;

      img {
        width: $proposals-list-item-image-width;
        height: $proposals-list-item-image-height;
      }

    }

    .title {
      margin: 7px 0;
      display: block;
      font-size: 14px;
      line-height: 1.429;
      text-align: center;
    }

    .description {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .price {

      margin: 7px 0;
      display: block;
      font-size: 14px;
      color: rgb( 0, 0, 0 );
      font-weight: bold;
      line-height: 1.429;
      text-align: center;

    }

    .original-price {
      font-size: 12px;
      color: rgb(126,126,126);
      text-decoration: line-through;
      font-weight: normal;
    }

    .ui-buttons {

      margin: 0 0 20px;

      .btn {

        width: 48%;
        margin-left: 4%;

      }

    }

    .markers {

      overflow: hidden;
      position: absolute;
      left: -4px;
      top: 4px;
      width: 45px;
      z-index: 5;

      .marker {

        position: relative;
        margin: 0 0 5px;
        float: left;
        display: block;
        width: 40px;
        height: 35px;
        background: url("/img/weasty-sprite.png") no-repeat;
        text-align: center;
        padding: 5px 5px 0 0;
        text-shadow: 1px 1px 0 black;
        color: white;
        line-height: 30px;
        font-size: 12px;
        font-weight: bold;

        &:after {

          content: " ";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("/img/weasty-sprite.png") no-repeat;

        }

        &.new {

          background-position: -393px -130px;

          &:after {
            background-position: -83px -169px;
          }

        }

        &.best {

          background-position: -453px -130px;

          &:after {
            background-position: -44px -169px;
          }

        }

        &.action {

          background-position: -272px -130px;

          &:after {
            background-position: -2px -166px;
          }

        }

        &.discount {

          background-position: -334px -130px;

          &:after {
            display: none;
          }
        }

      }

    }

  }

}

.proposals-list-wrapper {

  .media-list {

    .media-list-item {

      margin-right: $proposals-list-delimiter-width;
      width: $proposals-list-item-width;
      height: $proposals-list-item-height;

      &.last-in-row {
        margin-right: 0;
      }

      .inner-container {
        padding: 0;
        overflow: visible;
      }

      .image-container {
        margin: 0 0 10px;
      }

      .preview-container {

        .preview-left-bar {

          display: none;
          width: $preview-container-left-bar-width;
          padding-right: 10px;
          position: absolute;
          top: $preview-container-padding-v-t;
          left: ($preview-container-padding-h-l/2);

          .images-preview-container {

            max-height: 176px;

          }

          .prev, .next {

            background: url("/img/weasty-sprite.png") no-repeat;
            cursor: pointer;
            display: block;
            height: 20px;
            width: 20px;
            margin: 0 auto;

            &.disabled {
              cursor: default;
            }

          }

          .prev {

            background-position: -278px -37px;

            &.disabled {
              background-position: -203px -37px;
            }

          }

          .next {

            background-position: -241px -29px;

            &.disabled {
              background-position: -165px -28px;
            }

          }

        }

      }

    }

    &.media-list-slider {

      .media-list-item {

        height: 315px;

        &, &.first-in-row, &.last-in-row {
          margin: 0 7px;
        }

      }

      .owl-prev, .owl-next {
        height: $proposals-list-item-image-container-height;
      }

    }

  }

}

$proposals-block-tab-content-height: 335px;
.proposals-block {

  text-align: center;
  padding-bottom: 40px;

  .tab-content {
    height: $proposals-block-tab-content-height;
    padding: 0;
  }

  .block-body {

    margin-top: 20px;

    .big-button {
      margin-bottom: 10px;
    }

  }

}
