@import "../../var/settings";

$body-link-hover-color : rgb(77,164,210);

$preview-container-max-width: 314px;
$preview-container-padding-v-t: 20px;
$preview-container-padding-v-b: 0px;
$preview-container-padding-h-l: 20px;
$preview-container-padding-h-r: 20px;
$preview-container-left-bar-width: 62px;
