@import "settings";
@import "lebedev-shop-scss/lebedev";

.shop-cart-popup {

  .shop-cart-popup-container {

    .shop-cart-summary {
      padding: 32px 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid rgb(202,202,202);
    }

  }

}

.shop-cart {

  .shop-cart-category {

    padding: 20px 0 0;

    a, a:hover {
      color: rgb(0,0,0);
      font-weight: bold;
    }

  }

}

.shop-cart-btn {

  display: block;
  position: relative;

  .amount-badge {

    top: -15px;
    right: -15px;
    position: absolute;
    display: block;

  }

  &.empty-cart {

    .amount-badge {
      display: none;
    }

  }

}

.shop-cart-icon {
  text-indent: -9999px;
  display: block;
  height: 30px;
  width: 30px;
  background: url("/img/weasty-sprite.png") no-repeat -9px -26px;
}


.header-container {

  .header-shop-cart {

    @include transition-property(all);
    @include transition-duration(150ms);
    @include transition-timing-function(linear);
    padding: 25px;

  }

  &.affix {

    .header-shop-cart {

      padding: 15px 25px;

    }

  }

}