<div class="header-container">
    <div class="row header-main-row">
        <div class="header">
            <div class="header-logo">
                <a href="{{ path('shop_admin') }}">
                    <span class="image-wrapper">
                        <img src="/img/cms-logo.png">
                    </span>
                    <span class="title">
                        {#<span class="glyphicon glyphicon-cog"></span>#}
                        {#Система управления сайтом#}
                        Weasty - управление магазином
                    </span>
                </a>
            </div>
            {% set user_name = app.user and app.user.userName ? app.user.userName : null %}
            {% if user_name %}
                <div class="user-container">
                    Привет, {{ user_name }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        Выйти
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
