{% extends "ShopAdminBundle::layout.html.twig" %}

{% block title %}Рабочий стол{% endblock %}

{% block page_header %}

{% endblock %}

{% block page_content %}

    <div class="primary-note" style="">
        <div class="icon-box">
            <div class="icon-drag"></div>
        </div>
        <div class="label-container-outer">
            <div class="label-container-inner">
                <div class="node-label">
                    Добро пожаловать!
                    <br/>
                    Здесь будет отображаться самая важная информация и часто используемые инструменты.
                </div>
            </div>
        </div>
    </div>

{% endblock %}