{% extends 'ShopAdminBundle::layout.html.twig' %}

{% block title %}Система управления сайтом{% endblock %}

{% block body_wrapper %}
    {% set _body_class = ((_body_class is defined ? _body_class : '')~' gray-bg') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h1 class="logo-name">Weasty</h1>
        </div>
        <h3>Welcome to WeastyShop Admin Panel</h3>
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}