<div class="callback-form-container">

    <form name="form" method="post" action="" class="callback-form form-box">

        <div class="callback-title">
            ЗАКАЗ ОБРАТНОГО ЗВОНКА
        </div>

        <div id="callback_form" class="form-box">

            <div><label for="callback_customer_name" class="required">КАК К ВАМ ОБРАЩАТЬСЯ*</label>
                <input type="text"
                       id="callback_customer_name"
                       name="customer_name"
                       required="required"
                       class="customer-name">
            </div>

            <div><label for="callback_customer_phone" class="required">ТЕЛЕФОН*</label>
                <input type="text"
                       id="callback_customer_phone"
                       name="customer_phone"
                       required="required"
                       class="customer-phone">
            </div>

            <div><label for="callback_customer_email">E-MAIL</label>
                <input type="text"
                       id="callback_customer_email"
                       name="customer_email"
                       class="customer-email">
            </div>

            <div>
                <label for="callback_comment" class="required">КОММЕНТАРИЙ</label>
                <textarea id="callback_comment" name="comment" class="comment"></textarea>
            </div>

            <div>
                <button type="submit" id="form_save" name="save" class="submit-btn">ЗАКАЗАТЬ ЗВОНОК</button>
            </div>

        </div>

    </form>

</div>

<script type="text/javascript">
    $('#callback_form label').inFieldLabels();
</script>
