{% set recent_posts = weasty_news_recent_posts() %}
{% if recent_posts %}
<div class="news-block block-container" id="news-block">

    <div class="block-title-container">
        <h2 class="block-title">
            Последние новости
        </h2>
    </div>

    <div class="block-body">

        {% include 'WeastyCommonBundle::helpers/media-list.html.twig' with {
            'media_list_options' : {
                'items' : recent_posts,
                'use_slider' : false,
                'clickable_items' : true,
                'item_route' : 'weasty_news_post',
                'set_item_create_date' : true
            }
        } %}

    </div>

</div>
{% endif %}