$max-width : 1280px;
$header-height : 100px;

body {

  .template-default {

    .header-container {

      z-index: 100;
      position: relative;
      width: 100%;
      @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px);
      background: white;

      .header {

        overflow: hidden;
        height: $header-height;

        .header-logo {

          float: left;

          .image-wrapper {

            height: $header-height;

            img {
              max-height: $header-height;
            }

          }

        }

        .header-menu {
          float: left;
          ul {
            overflow: hidden;
            padding: 0;
            margin: 0;
            li {
              padding: 0;
              margin: 0;
              display: block;
              height: $header-height;
              float: left;
              margin-left: 20px;
              a {
                display: block;
                margin: 37px 0;
                color: #34495e;
                font-size: 20px;
                text-decoration: underline;
              }
            }
          }
        }

        .header-contacts {
          float: right;
          .phone {
            margin: 15px 0 0;
            font-size: 16px;
          }
          .callback {
            a {
              text-decoration: underline;
              color: #34495e;
            }
          }
        }

      }

    }

    .block-container {

      position: relative;
      padding: 30px 0;

      .block-content {
        position: relative;
        z-index: 2;
      }

      .block-title {
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        max-width: $row-max-width;
      }

      .block-description {
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        max-width: $row-max-width;
      }

      .block-body {
        position: relative;
      }

      &.invert-colors {

        .block-description, .block-title {
          color: white;
          text-shadow: 1px 2px #2E2D2D;
        }

        .block-body {
          margin: 50px auto;
          background-color: white;
        }

      }

      .block-diagonal-bg {

        position: absolute;
        //      bottom: 55px;
        //      left: -50%;
        //      width: 200%;
        //      @include simple-transform(false, 5deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;

      }

      .block-img-wrapper {

        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;

        .image-box {
          position: relative;
          top: 0;
          height: 100%;
          width: 100%;
          background-size: auto;
          -moz-background-size: auto;
          background-repeat: no-repeat;
          background-position: center;
        }

      }

      &.main-block {
        //      padding-top: 60px;
        //      padding-bottom: 130px;
      }

      &.why-us-block {

        //      z-index: 2;
        //      padding-top: 5px;
        //      padding-bottom: 130px;

        .block-body {

          .why-us-list {

            overflow: hidden;
            padding: 40px 0;
            margin: 0;

            background: url("/img/dotted-line.png") repeat-x left bottom;
            &:last-child {
              background: none;
            }

            li {

              padding: 0;
              margin: 0;
              width: $row-max-width / 4;
              float: left;

              .image-container {

                width: 133px;
                margin: 0 auto 20px;

                .image-wrapper {

                  height: 133px;
                  width: 133px;

                  img {
                    max-height: 133px;
                    max-width: 133px;
                  }

                }

              }

              .title {

                text-align: center;
                font-size: 20px;
                padding: 0 10px;

              }

              .description {

                text-align: center;
                padding: 20px 10px 0;

              }

            }

          }

        }

      }

      &.how-we-block {

        //      z-index: 2;
        //      padding-top: 5px;
        //      padding-bottom: 130px;

        .block-diagonal-bg {
          background-color: rgb(163, 87, 64);
        }

        .block-title, .block-description {
          text-shadow: none;
          color: white;
        }

        .block-body {

          background-color: transparent;
          color: white;
          margin-bottom: 30px;

          .how-we-list {

            overflow: hidden;
            padding: 40px 0;
            margin: 0 auto;

            .columns {

              padding: 0;
              margin: 0;
              position: relative;

              .dotted-arrow {
                top: 50px;
                right: -90%;
                background: url("/img/dotted-arrow.png") no-repeat left top;
                display: none;
                width: 100%;
                height: 24px;
                position: absolute;
              }

              &.three {

                .dotted-arrow {
                  right: -85%;
                }

              }

              &.three, &.four, &.six {

                .dotted-arrow {

                  display: block;

                }

              }

              &:last-child {

                .dotted-arrow {
                  display: none;
                }

              }

              .image-container {

                width: 133px;
                margin: 0 auto 20px;

                .image-wrapper {

                  height: 133px;
                  width: 133px;

                  img {
                    max-height: 133px;
                    max-width: 133px;
                  }

                }

              }

              .title {

                text-align: center;
                font-size: 20px;
                padding: 0 10px;

              }

              .description {

                text-align: center;
                padding: 20px 10px 0;

              }

            }

          }

        }

      }

      &.proposals-block {

        $catalog_menu_width : 900px;
        $catalog_menu_item_width : $catalog_menu_width / 4;

        .catalog-menu {

          margin-bottom: 10px;
          width: $catalog_menu_width;
          min-width: $catalog_menu_width;
          position: relative;
          z-index: 5;

          .tiles {
            margin: 0 auto;

            li {
              margin-left: 0;
              width: $catalog_menu_item_width;
            }

            &.three_up {

              width: ($catalog_menu_width * .75);

            }

            &.two_up {

              width: ($catalog_menu_width * .5);

            }

            &.one_up {

              width: ($catalog_menu_width * .25);

            }

          }

          .btn {
            width: 100%;
            text-align: center;
            background: white;
            a {
              color: #34495e;
            }
            &:hover {
              background: #34495e;
              a {
                color: white;
              }
            }
          }
        }

        .block-description {
          margin-bottom: 30px;
        }

        .block-body {

          margin-top: 0;
          background-color: transparent;

          .owl-item {

            width: ($row-max-width / 4) !important;

          }

          .proposals-list {

            .owl-prev, .owl-next {
              bottom: 160px;
            }

            .owl-item {
              &:first-child {
                .proposal {
                  .inner-container{
                    border-left-color: rgb(189, 204, 212);
                  }
                }
              }
            }

            .proposal {

              width: $row-max-width / 4;
              height: 455px;

              .inner-container {

                display: block;
                min-height: 455px;
                max-height: 455px;
                position: relative;
                padding: 35px 20px;
                border: 1px solid rgb(189, 204, 212);
                border-left-color: rgba(255, 255, 255, 0.5);
                color: #000000;

                &:hover {
                  &, a {
                    color: white;
                  }
                }

              }

              &:hover {

                background: #34495e;

                .inner-container {
                  border-left-color: rgb(189, 204, 212);
                }

              }

              &.discount-proposal {

                display: block;
                background: url("/img/discount-pattern.png") repeat center white;
                .inner-container{
                  display: block;
                  border-color: rgb(255, 147, 30) !important;
                }

                &:hover {

                  background: url("/img/discount-pattern.png") repeat center rgb(255, 250, 163);

                  .inner-container {
                    color: #000000;
                  }

                }

              }

              .proposal-discount-percent {
                display: block;
                position: absolute;
                top: 150px;
                left: 103px;
              }

            }

          }

        }

      }

      &.request-block {

        .block-diagonal-bg {
          background-color: white;
        }

        @media screen and (min-width: $max-width){

          .percent-left {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            //          top: -55px;
            //          height: 110%;
            width: 250px;
            background-image: url("/img/request-block-bg.png");
            background-position: left top;
          }

          .percent-right {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            //          top: 40px;
            //          height: 110%;
            width: 250px;
            background-image: url("/img/request-block-bg.png");
            background-position: left top;
          }

        }

        //      .shadow-bg {
        //        @include single-box-shadow(rgba(255, 255, 255, 1), 0, 0, 30px, 10px);
        //        position: relative;
        //        width: 1000px;
        //        margin: 0 auto;
        //        background: rgb(255, 255, 255);
        //      }

        //      padding-top: 25px;
        //      padding-bottom: 130px;

      }

      &.benefits-block {

        //      background: #34495e;
        background: #6BC95E;

        .block-diagonal-bg {
          background: url("/img/triangle_bg.png") repeat left top;
        }

        //      .block-title, .block-description {
        //        text-shadow: none;
        //      }

        .block-body {

          background-color: transparent;
          color: white;
          margin-bottom: 30px;

          .benefits-list {

            overflow: hidden;
            padding: 0;
            margin: 0 0 10px;

            //          background: url("/img/dotted-line.png") repeat-x left bottom;
            &:last-child {
              background: none;
            }

            li {

              padding: 0;
              margin: 0;
              width: $row-max-width / 3;
              float: left;

              .image-container {

                width: 133px;
                margin: 0 auto;

                .image-wrapper {

                  height: 133px;
                  width: 133px;

                  img {
                    max-height: 133px;
                    max-width: 133px;
                  }

                }

              }

              .title {

                text-shadow: 1px 2px #2E2D2D;
                text-align: center;
                font-size: 20px;
                padding: 0 10px;

              }

              .description {

                text-shadow: 1px 2px #2E2D2D;
                text-align: center;
                font-size: 16px;
                padding: 20px 10px 0;

              }

            }

          }

        }

        //      padding-top: 25px;
        //      padding-bottom: 130px;

      }

      &.reviews-block {

        //      padding-bottom: 140px;

        .block-body {

          margin-top: 20px;
          background-color: transparent;

          .owl-item {

            width: ($row-max-width / 4) !important;

          }

          .review {

            width: $row-max-width / 4;
            background: white;
            text-align: center;

            &.video-review {

              .video-review-mark {
                margin: -39px 0 0 -39px;
                z-index: 3;
                position: absolute;
                width: 78px;
                height: 78px;
                left: 50%;
                top: 50%;
                background: url("/img/sprite.png") no-repeat -655px -332px;
              }

            }

            .inner-container {
              position: relative;
              padding: 35px 25px;
            }

            .company-image-container {

              background: white;
              position: absolute;
              top: 40px;
              left: 180px;

              overflow: hidden;
              width: 60px;
              height: 60px;
              padding: 3px;
              @include border-radius(30px);
              @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px, 0);

              .nailthumb-container {

                position: relative;
                width: 57px;
                height: 57px;

              }

            }

            .image-container {

              position: relative;
              overflow: hidden;
              width: 200px;
              height: 200px;
              margin: 5px auto 25px;
              @include border-radius(100px);

            }

            .title {
              font-size: 20px;
              margin-bottom: 5px;
            }

            .description {
              font-size: 14px;
              margin-bottom: 20px;
            }

            .open-review {
              text-decoration: underline;
            }

          }

        }

        .reviews-list {

          .owl-buttons {

            .owl-prev {

              bottom: auto;
              top: 95px;
              background-position: -491px -428px;

            }

            .owl-next {

              bottom: auto;
              top: 95px;
              background-position: -530px -428px;

            }

          }

        }

        .images-list {

          height: 300px;
          @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px, false, true);

          .image-item {

            background: white;

            .image-container {
              overflow: hidden;
              display: block;
              width: 250px;
              height: 150px;
            }

          }

          .owl-buttons {

            .owl-prev {

              bottom: 105px;
              background-position: -484px -325px;

            }

            .owl-next {

              bottom: 105px;
              background-position: -530px -325px;

            }

          }

        }

      }

      &.contacts-block {

        //      z-index: 2;
        //      padding-bottom: 130px;
        padding: 50px 0;

        background: #01838e;
        //      background: #34495e;
        //      background: #88b400;

        .block-diagonal-bg {
          background: url("/img/triangle_bg.png") repeat left top;
        }

        .phone {

          margin: 25px 0 0;
          line-height: 50px;
          font-size: 35px;

        }

      }

      &.problems-block {

        padding-bottom: 140px;

        .problems-container, .solutions-container {

          .title {

            text-align: center;
            font-size: 20px;
            margin: 55px 0;
            padding: 0 20px;

          }

          .item {

            margin-bottom: 20px;
            overflow: hidden;

            .image-container {

              position: relative;
              overflow: hidden;
              border: 3px solid;
              @include border-radius(50px);
              width: 100px;
              height: 100px;
              float: left;

              .nailthumb-container {
                width: 94px;
                height: 94px;
              }

              .mark {

                position: absolute;
                display: block;
                width: 39px;
                height: 39px;
                left: 28px;
                top: 29px;
                background: url("/img/sprite.png") no-repeat;

              }

            }

            .description {

              &:before {
                height: 60px;
              }

              min-height: 100px;
              width: 400px;
              float: left;
              padding: 20px 20px;
              line-height: 18px;
              //            display: table;

              > div {
                //              display: table-cell;
                //              vertical-align: middle;
              }

            }

          }

        }

        .problems-container {

          .title {
            color: #ff0000;
          }

          .item {

            .image-container {

              border-color: #ff0000;

              .mark {
                background-position: -1px -339px;
              }

            }

          }

        }

        .solutions-container {

          .title {
            color: #8CC63F;
          }

          .item {

            .image-container {

              border-color: #8CC63F;

              .mark {
                background-position: -1px -420px;
              }

            }

          }

        }

      }

      .images-container {

        margin-top: 15px;
        background: url("/img/dotted-line.png") repeat-x left top;

        .block-title {
          margin: 20px 0;
        }

      }

    }


  }

}
