{% set manufacturers = shop_catalog_manufacturers() %}
{% if manufacturers %}
    <div class="block-container manufacturers-block" id="manufacturers-block">
        <div class="block-title-container">
            <h2 class="block-title">
                {{ shop_settings.manufacturers_title|default('НАШИ БРЕНДЫ')|nl2br }}
            </h2>
        </div>
        {% if shop_settings.manufacturers_description %}
            <div class="block-description">
                {{ shop_settings.manufacturers_description|nl2br }}
            </div>
        {% endif %}
        <div class="block-body">
            {% include 'ShopCatalogBundle:Manufacturer:manufacturers-list.html.twig' with {
                'media_list_options' : {
                    'items' : manufacturers,
                    'items_per_row' : 4,
                    'use_slider' : true,
                    'item_image_format' : 'small'
                }
            } %}
        </div>
    </div>
{% endif %}