{% extends 'ShopShippingBundle:AdminShippingMethod:shippingAssemblyPrices.html.twig' %}
{% block add_shipping_assembly_price_button %}
    <a href="{{ path('shipping_category_assembly_price', {'shippingCategoryId':shippingCategory.id}) }}" class="btn-default">
        {{ 'shop.shipping.method.assembly_price.add'|trans([], 'ShopShippingBundle') }}
    </a>
{% endblock %}
{% block shipping_assembly_price_buttons %}
    <a href="{{ path('shipping_category_assembly_price', {'shippingCategoryId':shippingCategory.id, 'id':price.id}) }}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Изменить
    </a>
    <a href="{{ path('delete_shipping_category_assembly_price', {'id':price.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Удалить
    </a>
{% endblock %}
